<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>raspby website</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Monda:wght@400&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/dist/styles.css') }}" rel="stylesheet">
</head>

<body class="h-screen w-screen bg-app-blue-dark text-gray-200">
    <div id="app"
        class="h-full w-full overflow-y-auto p-8 flex flex-row flex-wrap gap-1 items-center mx-auto justify-center">
    </div>
    <script type="text/javascript" src="{{ url_for('static', path='/dist/main.bundle.js' ) }}"></script>
</body>

</html>